<div class="container hompage">
	<div class="row">

		<div class="col-xl-12">
			<div class="jumbotron homepage_jumbotron">
					<h1 class="display-3">Capital</h1>
					<p class="lead">The market that never sleeps. Companies building the future neeed borderless capital.</p>
					<hr class="m-y-md">
					<p>Join a community of innovators, investors and visionaries.</p>
					<p class="lead">
						<a><%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-md" %></a>
					</p>
			</div>
		</div>

	</div>
</div>